* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Bungee Shade", cursive;
  font-family: "Milonga", cursive;
  font-family: "Rampart One", cursive;
  font-family: "Rye", cursive;
  font-family: "Sancreek", cursive;
  font-family: "Smokum", cursive;
  font-family: "Special Elite", cursive;
  font-family: "Stick No Bills", sans-serif; */
  color: "#01BF71";
  color: "#aaa";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Cast Iron";
  font-style: normal;
  font-weight: 400;
  src: url("./components/Fonts/Cast\ Iron.ttf");
}
@font-face {
  font-family: "Fontanesi";
  font-style: normal;
  font-weight: 400;
  src: url("./components/Fonts/Fontanesi.Ttf");
}
@font-face {
  font-family: "JFRingmaster";
  font-style: normal;
  font-weight: 100;
  src: url("./components/Fonts/JFRingmaster.ttf");
}
@font-face {
  font-family: "Western";
  font-style: normal;
  font-weight: 100;
  src: url("./components/Fonts/WESTERN.TTF");
}
@font-face {
  font-family: "Smokum";
  font-style: normal;
  font-weight: 100;
  src: url("./components/Fonts/Smokum-Regular.ttf");
}
